# Node / React
node_modules/
dist/
build/
.env
*.log

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
db.sqlite3

# OS / IDE
.DS_Store
.vscode/
.idea/
.gemini/
.env*

# Repositories
.git/
